.aboutus{
    padding: 0 10%;
}

.aboutus > h2{
    font-size: 38px;
    font-weight: bold;
    margin: 30px auto 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #565656;
}

.aboutus > section{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 40px;
}

.aboutus > section > img{
    width: 300px;
    height: 250px;
    border-radius: 5px;
    display: block;
}

.aboutus > section > p{
    width: calc(100% - 350px);
}

@media (max-width: 992px) {
    .aboutus > section > p{
        width: calc(100% - 320px);
    }
}

@media (max-width: 600px) {
    .aboutus > section{
        flex-direction: column;
    }

    .aboutus > section > img{
        margin: 0 auto 20px;
    }
    .aboutus > section > p{
        width: 100%;
        order: 2;
    }

    .aboutus > section:last-child > img{
        order: 1;
    }
}

